<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @social_media_links.each do |link| %>
      <tr id="<%= dom_id(link) %>" is="turbo-frame">
        <td><%= helpers.icon(link.icon) %></td>
        <td><%= link.name %></td>
        <td><%= link_to(link.url, link.url) %></td>
        <td class="has-text-right">
          <%= link_to(
            helpers.icon('trash'),
            [link.site, link],
            title: t('delete'),
            class: 'has-text-danger',
            data: {
              turbo_method: :delete,
              turbo_confirm: t('are_you_sure')
            }
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
