<div class="field">
  <%= form.label(attribute, class: "label") %>
  <div class="control">
    <div
      data-controller="editor"
      data-action="editor:change->post_form#updatePostLength"
      data-editor-editor-id-value="<%= @random_id %>"
      data-editor-image-endpoint-value="<%= upload_path %>"
      data-editor-image-from-url-endpoint-value="<%= from_url_path %>"
      >
      <div class="editorjs content mb-0" id="<%= @random_id %>"></div>
      <div class="" data-post_form-target="postLength"></div>

      <%= @form.hidden_field(attribute, value: editor_json, data: { "editor-target" => "jsonOutput" }) %>
    </div>
  </div>
</div>
