<%= turbo_frame_tag(:form) do %>
  <%= form_for([current_site, post], class: "mb-4") do |form| %>
    <%= component('form/title_and_slug', form:) %>
    <%= component('form/editor', form:, attribute: :content) %>

    <div class="columns">
      <div class="column is-2">
        <%= component('form/text_field', form:, attribute: :emoji) %>
      </div>

      <div class="column">
        <%= component('form/datetime_field', form:, attribute: :created_at) %>
      </div>
    </div>

    <div class="field is-grouped">
      <%= form.submit(class: "button is-link") %>
      &nbsp;
      <%= link_to("Cancel", site_posts_path, "data-turbo-frame": '_top', class: "button is-link is-light") %>
    </div>
  <% end %>
<% end %>
