<h1 class="title"><%= @site.title %></h1>

<div class="menu">
  <ul class="menu-list">
    <li><%= link_to("ðŸ  Home", root_path, class: "navbar-item") %></li>
    <li><%= link_to("ðŸ–Š Posts", posts_path, class: "navbar-item") %></li>
    <li><%= link_to("ðŸ“‘ Pages", pages_path, class: "navbar-item") %></li>
  </ul>

  <p class="menu-label">Administration</p>
  <ul class="menu-list">
    <li><%= link_to("âš™ï¸ Settings", posts_path, class: "navbar-item") %></li>
    <li><%= link_to("ðŸšª Logout", logout_path, data: { turbo_method: "delete", turbo_frame: '_top', turbo_action: 'replace'}, class: "navbar-item") %></li>
  </ul>
</div>

