
<div class="menu">
    <ul class="menu-list">
      <li><%= link_to("ðŸ  Home", root_path, class: "navbar-item") %></li>
    </ul>

    <%- if current_site %>
    <p class="menu-label">Content</p>
    <ul class="menu-list">
        <li><%= link_to("ðŸ–Š Posts", site_posts_path(current_site), class: "navbar-item") %></li>
        <li><%= link_to("ðŸ“‘ Pages", site_pages_path(current_site), class: "navbar-item") %></li>
    </ul>
    <% end %>

  <p class="menu-label">Administration</p>
  <ul class="menu-list">
    <%- if current_site %>
      <li><%= link_to("âš™ï¸ Settings", edit_site_path(current_site), class: "navbar-item") %></li>
    <% end %>
    <li><%= link_to("ðŸšª Logout", logout_path, data: { turbo_method: "delete", turbo_frame: '_top', turbo_action: 'replace'}, class: "navbar-item") %></li>
  </ul>
</div>
