<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>meerkat.camp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

      <meta name="turbo-refresh-method" content="morph">
  </head>
  <body>
    <%= render 'layouts/top_navigation' %>
    <div class="container mt-6">
      <% if current_site %>
        <%= render 'layouts/site_navigation' %>
        <hr />
      <% end %>
      <%= render 'layouts/notices' %>
      <%= yield %>
  </div>
  </body>
</html>
