<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>meerkat.camp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'layouts/top_navigation' %>
    <div class="container">
      <% if current_site %>
          <div class="columns is-mobile">
            <div class="column is-3">
              <% if current_site %>
                <%= render 'layouts/site_navigation' %>
              <% end %>
            </div>
            <div class="column">
              <div class="mt-6">
                <%= render 'layouts/notice' %>
                <%= yield %>
              </div>
            </div>
          </div>
      <% else %>
        <div class="section">
          <%= render 'layouts/notice' %>
          <%= yield %>
        </div>
      <% end %>
    </div>
  </body>
</html>
